{% extends "kiyya/layout.html" %}
{% load static %}
{% block title %}Details Blog Post | {% endblock %}

{% block body %}

    <div class="container" style="width: 100%;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-inline-flex p-2 bd-highlight">
        <div class="container-fluid">
            <a class="btn btn-outline-primary btn-floating m-1" href="{% url 'index' %}"><strong>Kiyya's Poet</strong></a>
        </div>
        </nav>
    </div>

    <div class="container">
        <header>
            <div class="zoom">
                <h1 style="color: white;">DETAILS BLOG POST</h1>
            </div>
        </header>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-8 card mb-4  mt-3 left  top" style="box-shadow: 0 16px 48px #E3E7EB;">
            <div class="card-body">
              <h3>{{ object.title }}</h3>
              <p class=" text-muted">{{ blog.author }} | {{ blog.created_on }}</p>
              <p class="card-text ">{{ object.content | safe }}</p>
            </div>
          </div>
        
        </div>
    </div>
      
{% endblock %}