{% extends "kiyya/layout.html" %}

{% load static %}

{% block title %}Poets | {% endblock %}

{% block body %}


        <div class="container" style="width: 100%;">
            <nav class="navbar navbar-expand-lg navbar-light bg-light d-inline-flex p-2 bd-highlight">
            <div class="container-fluid">
                <a class="btn btn-outline-primary btn-floating m-1" href="{% url 'index' %}"><strong>Kiyya's Poet</strong></a>
            </div>
            </nav>
        </div>

        <div class="container">
            <header>
                <div class="zoom">
                    <h1 style="color: white;">WELCOME TO POETS</h1>
                </div>
            </header>
        </div>

    <section>
        <div class="container" style="width: 100%;">
            <div class="row mx-3 mb-3">
                {% for poet in poets %}
                <div class="card mx-3" style="width: 18rem; box-shadow: 0 16px 48px #E3E7EB;">
                    <img src="{{ poet.image.url }}" class="card-img-top" alt="{{ poet.image.url }}">
                    <div class="card-body" style="background-color: rgb(187, 107, 107);">
                    <h5 class="card-title" style="color: blue"><b>{{ poet.title }}</b></h5>
                    <hr>
                    <p class="card-text" style="color: white;">{{ poet.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
   
        <div class="container" style="background-color: rgb(156, 132, 156); width:auto; text-align: center;">
            <h2 style="color: white;">Comments</h2>
            <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
        
            <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" style="color: black;">
                    <div class="item active">
                    <h4>"OMG all of your poems are soul touching!"<br><span>Laurita Peros, Chicago, USA.</span></h4>
                    </div>
                    <div class="item">
                    <h4>"WOW!! so beautiful"<br><span>Sade Patrick, Naveda, USA.</span></h4>
                    </div>
                    <div class="item">
                    <h4>"Tell what is life without Love!!"<br><span>Chapman Dwel, Frankfort, Germany</span></h4>
                    </div>
                    <div class="item">
                    <h4>"Your lyrics can make a man go broke! Lol!"<br><span>Mensah Musa, Tema, Ghana</span></h4>
                    </div>
                </div>
        
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>

{% endblock %}